<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="adwordsHeaders"
             type="System.Configuration.DictionarySectionHandler"/>
  </configSections>
  <adwordsHeaders>
    <add key="email" value="INSERT_LOGIN_EMAIL_HERE"/>
    <add key="password" value="INSERT_PASSWORD_HERE"/>
    <add key="useragent" value="INSERT_COMPANY_NAME_HERE"/>
    <add key="developerToken" value="INSERT_DEVELOPER_TOKEN_HERE"/>
    <add key="applicationToken" value="INSERT_APPLICATION_TOKEN_HERE"/>

    <!-- Use either clientEmail or clientCustomerId (optional) -->
    <add key="clientEmail" value="INSERT_CLIENT_EMAIL_HERE"/>
    <!-- <add key="clientCustomerId"
              value="INSERT_CLIENT_CUSTOMER_ID_HERE"/> -->

    <!-- Use alternateUrl to make calls against Sandbox (optional) -->
    <add key="alternateUrl" value="https://sandbox.google.com/"/>

    <!-- Specify absolute path of the directory to which SOAP logs should be
         saved (optional) -->
    <add key="logPath" value="C:\\Logs"/>
  </adwordsHeaders>
  <system.web>
    <webServices>
      <soapExtensionTypes>
        <add type="com.google.api.adwords.lib.TraceExtension,
                   google-api-adwords-dotnet" priority="1" group="0"/>
        <add type="com.google.api.adwords.lib.QuotaExtension,
                   google-api-adwords-dotnet" priority="1" group="0"/>
      </soapExtensionTypes>
    </webServices>
  </system.web>
</configuration>
