<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="adwordsHeaders" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>
  <adwordsHeaders>
    <add key="email" value="api.sgrinberg@gmail.com"/>
    <add key="useragent" value="C# Client Library"/>
    <add key="password" value="secret"/>
    <add key="applicationToken" value="api.sgrinberg@gmail.com++USD"/>
    <add key="developerToken" value="api.sgrinberg@gmail.com++USD"/>
	
    <!-- Use either clientEmail or clientCustomerId (optional) -->
    <add key="clientEmail" value="client_1+api.sgrinberg@gmail.com"/>
    <!-- <add key="clientCustomerId" value="1234"/> -->
    
    <!-- Use alternateUrl to make calls against Sandbox (optional) -->
    <add key="alternateUrl" value="https://sandbox.google.com/"/>
    
    <!-- Specify absolute path of the directory to which SOAP logs should be saved (optional) -->
    <add key="logPath" value="C:\\logs"/>
  </adwordsHeaders>
  <system.web>
    <webServices>
      <soapExtensionTypes>
        <add type="com.google.api.adwords.lib.TraceExtension, google-api-adwords-dotnet" priority="1" group="0"/>
        <add type="com.google.api.adwords.lib.QuotaExtension, google-api-adwords-dotnet" priority="1" group="0"/>
      </soapExtensionTypes>
    </webServices>
  </system.web>
</configuration>