<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DfpApi"
         type="System.Configuration.DictionarySectionHandler"/>
  </configSections>
  <DfpApi>
    <!-- Change the appropriate flags to turn on SOAP logging. -->
    <add key="LogPath" value="C:\Logs\DFP\"/>
    <add key="LogToConsole" value="false"/>
    <add key="LogToFile" value="false"/>
    <add key="MaskCredentials" value="true"/>
    <add key="LogErrorsOnly" value="false"/>

    <!-- Use this key to automatically retry a call that failed due to a
         recoverable error like expired credentials. -->
    <!-- <add key="RetryCount" value="1"/> -->

    <!-- Change the Timeout settings. -->
    <!-- <add key="Timeout" value="100000"/> -->

    <!-- Fill the following values if you plan to use a proxy server.-->
    <add key="ProxyServer" value=""/>
    <add key="ProxyUser" value=""/>
    <add key="ProxyPassword" value=""/>
    <add key="ProxyDomain" value=""/>

    <!-- Use this key to enable or disable gzip compression in SOAP requests.-->
    <add key="EnableGzipCompression" value="true"/>

    <!-- Fill the header values. -->
    <add key="ApplicationName" value="INSERT_YOUR_APPLICATION_NAME_HERE"/>
    <!-- Provide your network code. -->
    <add key="NetworkCode" value="INSERT_YOUR_NETWORK_CODE_HERE"/>

    <!-- Set the Authorization method to be used with the client library. -->
    <!-- To use ClientLogin as authentication mechanism, uncomment the following
         section and comment the OAuth and OAuth2 sections below. -->
    <!--
    <add key="AuthorizationMethod" value="ClientLogin" />
    <add key="Email" value="INSERT_YOUR_LOGIN_EMAIL_HERE"/>
    <add key="Password" value="INSERT_YOUR_PASSWORD_HERE"/>
    -->
    <!-- Optional: uncomment this if you want to reuse an authToken multiple
         times. -->
    <!-- <add key="AuthToken" value="INSERT_YOUR_AUTH_TOKEN_HERE"/> -->

    <!-- To use OAuth1.0a as authentication mechanism, uncomment the following
         section and comment the AuthToken and OAuth2 sections. -->
    <!-- Note: For testing purposes, you can use the OAuth consumer key/secret
         as anonymous/anonymous.-->
    <!--
    <add key="AuthorizationMethod" value="OAuth" />
    <add key="OAuthConsumerKey" value="INSERT_YOUR_OAUTH_CONSUMER_KEY_HERE" />
    <add key="OAuthConsumerSecret"
         value="INSERT_YOUR_OAUTH_CONSUMER_SECRET_HERE" />
    -->

    <!-- Optional: uncomment this if you want to specify a different OAuth
         scope. -->
    <!-- <add key="OAuthScope" value="INSERT_YOUR_OAUTH_SCOPE_HERE" /> -->

    <!-- To use OAuth2 as authentication mechanism, uncomment the following
         section and comment the AuthToken and OAuth2 sections. -->

    <!--
    <add key="AuthorizationMethod" value="OAuth2" />
    <add key="OAuth2ClientId" value="INSERT_OAUTH2_CLIENT_ID_HERE" />
    <add key="OAuth2ClientSecret" value="INSERT_OAUTH2_CLIENT_SECRET_HERE" />
    -->

    <!-- Optional: To reuse an access token and refresh token, uncomment the
         following nodes. -->
    <!-- <add key="OAuth2AccessToken"
             value="INSERT_OAUTH2_ACCESS_TOKEN_HERE" /> -->
    <!-- <add key="OAuth2RefreshToken"
             value="INSERT_OAUTH2_REFRESH_TOKEN_HERE" /> -->
    <!-- Optional: uncomment this if you want to specify a different OAuth2
         scope. -->
    <!-- <add key="OAuth2Scope" value="INSERT_OAUTH2_SCOPE_HERE" /> -->
    <!-- Optional: Specify an OAuth2 redirect url if you are building a
         web application. For non-web applications, leave this node commented. -->
    <!-- <add key="OAuth2RedirectUri" value="" /> -->

    <add key="DfpApi.Server" value="https://www.google.com"/>
  </DfpApi>
  <system.web>
    <webServices>
      <soapExtensionTypes>
        <add type="Google.Api.Ads.Common.Lib.SoapListenerExtension, Google.Ads.Common"
             priority="1" group="0"/>
      </soapExtensionTypes>
    </webServices>
    <compilation debug="true"/>
  </system.web>
  <system.net>
    <settings>
      <httpWebRequest maximumErrorResponseLength="-1"  />
    </settings>
  </system.net>
</configuration>
