<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DfaApi" type="System.Configuration.DictionarySectionHandler"/>
  </configSections>
  <DfaApi>
    <!-- Change the appropriate flags to turn on SOAP logging. -->
    <add key="LogPath" value="C:\Logs\Dfa\"/>
    <add key="LogToConsole" value="false"/>
    <add key="LogToFile" value="true"/>
    <add key="MaskCredentials" value="true"/>

    <!-- Set the service timeout in milliseconds. -->
    <!-- <add key="Timeout" value="100000"/> -->

    <!-- Fill the following values if you plan to use a proxy server.-->
    <add key="ProxyServer" value=""/>
    <add key="ProxyUser" value=""/>
    <add key="ProxyPassword" value=""/>
    <add key="ProxyDomain" value=""/>

    <!-- Use this key to enable or disable gzip compression in SOAP requests.-->
    <add key="EnableGzipCompression" value="true"/>

    <!-- Set a friendly name to identify your application. -->
    <add key="ApplicationName" value="ENTER_YOUR_APPLICATION_NAME_HERE"/>

    <!-- Set the Authorization method to be used with the client library. -->
    <!-- To use LoginService as authentication mechanism, uncomment the following
         section and comment the OAuth2 section below. -->

    <add key="AuthorizationMethod" value="LoginService" />
    <add key="UserName" value="ENTER_YOUR_USERNAME_HERE"/>
    <add key="Password" value="ENTER_YOUR_PASSWORD_HERE"/>

    <!-- Uncomment this key if you want to reuse an authToken returned by
         LoginRemoteService multiple times. -->
    <!-- <add key="AuthToken" value="ENTER_YOUR_AUTH_TOKEN_HERE"/> -->


    <!-- To use OAuth2 as authentication mechanism, uncomment the following
         section and comment the LoginService section. -->
    <!--
    <add key="AuthorizationMethod" value="OAuth2"/>
    <add key="OAuth2ClientId" value="INSERT_OAUTH2_CLIENT_ID_HERE" />
    <add key="OAuth2ClientSecret" value="INSERT_OAUTH2_CLIENT_SECRET_HERE" />
    -->
    <!-- Optional: To reuse an access token and refresh token, uncomment the
         following nodes. -->
    <!-- <add key="OAuth2AccessToken"
             value="INSERT_OAUTH2_ACCESS_TOKEN_HERE" /> -->
    <!-- <add key="OAuth2RefreshToken"
             value="INSERT_OAUTH2_REFRESH_TOKEN_HERE" /> -->
    <!-- Optional: uncomment this if you want to specify a different OAuth2
         scope. -->
    <!-- <add key="OAuth2Scope" value="INSERT_OAUTH2_SCOPE_HERE" /> -->
    <!-- Optional: Specify an OAuth2 redirect url if you are building a
         web application. For non-web applications, leave this node commented. -->
    <!-- <add key="OAuth2RedirectUri" value="" /> -->

    <!-- Uncomment this key if you want to use DFA test environment. -->
    <!-- <add key="DfaApi.Server" value="https://advertisersapitest.doubleclick.net"/> -->

    <!-- Uncomment this key if you want to use DFA beta environment. -->
    <!-- <add key="DfaApi.Server" value="http://betaadvertisersapi.doubleclick.net"/> -->
  </DfaApi>
  <system.web>
    <webServices>
      <soapExtensionTypes>
        <add type="Google.Api.Ads.Common.Lib.SoapListenerExtension, Google.Ads.Common"
            priority="1" group="0"/>
      </soapExtensionTypes>
    </webServices>
  </system.web>
  <system.net>
    <settings>
      <httpWebRequest maximumErrorResponseLength="-1"  />
    </settings>
  </system.net>
</configuration>
