<?xml version="1.0" encoding="utf-8" ?>
<actions xmlns="http://code.google.com/p/google-api-adwords-dotnet">
  <downloadwsdl>
    <document>https://advertisersapi.doubleclick.net/v1.11/api/dfa-api/ad?wsdl</document>
    <document>https://advertisersapi.doubleclick.net/v1.11/api/dfa-api/advertiser?wsdl</document>
    <document>https://advertisersapi.doubleclick.net/v1.11/api/dfa-api/advertisergroup?wsdl</document>
    <document>https://advertisersapi.doubleclick.net/v1.11/api/dfa-api/campaign?wsdl</document>
    <document>https://advertisersapi.doubleclick.net/v1.11/api/dfa-api/changelog?wsdl</document>
    <document>https://advertisersapi.doubleclick.net/v1.11/api/dfa-api/contentcategory?wsdl</document>
    <document>https://advertisersapi.doubleclick.net/v1.11/api/dfa-api/creative?wsdl</document>
    <document>https://advertisersapi.doubleclick.net/v1.11/api/dfa-api/creativefield?wsdl</document>
    <document>https://advertisersapi.doubleclick.net/v1.11/api/dfa-api/creativegroup?wsdl</document>
    <document>https://advertisersapi.doubleclick.net/v1.11/api/dfa-api/login?wsdl</document>
    <document>https://advertisersapi.doubleclick.net/v1.11/api/dfa-api/mediaorder?wsdl</document>
    <document>https://advertisersapi.doubleclick.net/v1.11/api/dfa-api/network?wsdl</document>
    <document>https://advertisersapi.doubleclick.net/v1.11/api/dfa-api/placement?wsdl</document>
    <document>https://advertisersapi.doubleclick.net/v1.11/api/dfa-api/site?wsdl</document>
    <document>https://advertisersapi.doubleclick.net/v1.11/api/dfa-api/size?wsdl</document>
    <document>https://advertisersapi.doubleclick.net/v1.11/api/dfa-api/spotlight?wsdl</document>
    <document>https://advertisersapi.doubleclick.net/v1.11/api/dfa-api/strategy?wsdl</document>
    <document>https://advertisersapi.doubleclick.net/v1.11/api/dfa-api/subnetwork?wsdl</document>
    <document>https://advertisersapi.doubleclick.net/v1.11/api/dfa-api/user?wsdl</document>
    <document>https://advertisersapi.doubleclick.net/v1.11/api/dfa-api/userrole?wsdl</document>
  </downloadwsdl>
  <processwsdl>
    <patchforapiexception typename="Base" prefix="impl"/>
  </processwsdl>
  <generatecode>
    <webref:wsdlParameters xmlns:webref="http://microsoft.com/webReference/">
      <webref:sharetypes>true</webref:sharetypes>
      <webref:documents/>
      <webref:namespace>Google.Api.Ads.Dfa.v111</webref:namespace>
      <webref:webReferenceOptions>
        <webref:verbose>false</webref:verbose>
        <webref:codeGenerationOptions>properties</webref:codeGenerationOptions>
        <webref:style>client</webref:style>
      </webref:webReferenceOptions>
    </webref:wsdlParameters>
  </generatecode>
  <processcode>
    <addusingstatement namespace="Google.Api.Ads.Dfa.Lib"/>
    <changebasetypefordeclaration typename="AdRemoteService"
        oldbasetype="System.Web.Services.Protocols.SoapHttpClientProtocol"
        newbasetype="DfaSoapClient"/>

    <changebasetypefordeclaration typename="AdvertiserRemoteService"
        oldbasetype="System.Web.Services.Protocols.SoapHttpClientProtocol"
        newbasetype="DfaSoapClient"/>

    <changebasetypefordeclaration typename="AdvertiserGroupRemoteService"
        oldbasetype="System.Web.Services.Protocols.SoapHttpClientProtocol"
        newbasetype="DfaSoapClient"/>

    <changebasetypefordeclaration typename="CampaignRemoteService"
        oldbasetype="System.Web.Services.Protocols.SoapHttpClientProtocol"
        newbasetype="DfaSoapClient"/>

    <changebasetypefordeclaration typename="ChangeLogRemoteService"
        oldbasetype="System.Web.Services.Protocols.SoapHttpClientProtocol"
        newbasetype="DfaSoapClient"/>


    <changebasetypefordeclaration typename="ContentCategoryRemoteService"
        oldbasetype="System.Web.Services.Protocols.SoapHttpClientProtocol"
        newbasetype="DfaSoapClient"/>

    <changebasetypefordeclaration typename="CreativeRemoteService"
        oldbasetype="System.Web.Services.Protocols.SoapHttpClientProtocol"
        newbasetype="DfaSoapClient"/>

    <changebasetypefordeclaration typename="CreativeFieldRemoteService"
        oldbasetype="System.Web.Services.Protocols.SoapHttpClientProtocol"
        newbasetype="DfaSoapClient"/>

    <changebasetypefordeclaration typename="CreativeGroupRemoteService"
        oldbasetype="System.Web.Services.Protocols.SoapHttpClientProtocol"
        newbasetype="DfaSoapClient"/>

    <changebasetypefordeclaration typename="LoginRemoteService"
        oldbasetype="System.Web.Services.Protocols.SoapHttpClientProtocol"
        newbasetype="DfaSoapClient"/>

    <changebasetypefordeclaration typename="MediaOrderRemoteService"
        oldbasetype="System.Web.Services.Protocols.SoapHttpClientProtocol"
        newbasetype="DfaSoapClient"/>

    <changebasetypefordeclaration typename="NetworkRemoteService"
        oldbasetype="System.Web.Services.Protocols.SoapHttpClientProtocol"
        newbasetype="DfaSoapClient"/>

    <changebasetypefordeclaration typename="PlacementRemoteService"
        oldbasetype="System.Web.Services.Protocols.SoapHttpClientProtocol"
        newbasetype="DfaSoapClient"/>

    <changebasetypefordeclaration typename="SiteRemoteService"
        oldbasetype="System.Web.Services.Protocols.SoapHttpClientProtocol"
        newbasetype="DfaSoapClient"/>

    <changebasetypefordeclaration typename="SizeRemoteService"
        oldbasetype="System.Web.Services.Protocols.SoapHttpClientProtocol"
        newbasetype="DfaSoapClient"/>

    <changebasetypefordeclaration typename="SpotlightRemoteService"
        oldbasetype="System.Web.Services.Protocols.SoapHttpClientProtocol"
        newbasetype="DfaSoapClient"/>

    <changebasetypefordeclaration typename="PlacementStrategyRemoteService"
        oldbasetype="System.Web.Services.Protocols.SoapHttpClientProtocol"
        newbasetype="DfaSoapClient"/>

    <changebasetypefordeclaration typename="SubnetworkRemoteService"
        oldbasetype="System.Web.Services.Protocols.SoapHttpClientProtocol"
        newbasetype="DfaSoapClient"/>

    <changebasetypefordeclaration typename="UserRemoteService"
        oldbasetype="System.Web.Services.Protocols.SoapHttpClientProtocol"
        newbasetype="DfaSoapClient"/>

    <changebasetypefordeclaration typename="UserRoleRemoteService"
        oldbasetype="System.Web.Services.Protocols.SoapHttpClientProtocol"
        newbasetype="DfaSoapClient"/>
    <removedummy />

        <!--
    <changeallreferenceoftype oldtypename="SoapRequestHeader" newtypename="RequestHeader"/>
    <changeallreferenceoftype oldtypename="SoapResponseHeader" newtypename="ResponseHeader"/>
    <removeTypeDeclaration typename="SoapRequestHeader"/>
    <removeTypeDeclaration typename="SoapResponseHeader"/>
-->
    <patchxxxspecified />
  </processcode>
</actions>
