<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="DfaApi"
        type="System.Configuration.DictionarySectionHandler"/>
  </configSections>
  <DfaApi>
    <!-- Change the appropriate flags to turn on SOAP logging. -->
    <add key="LogPath" value="C:\Logs\Dfa\"/>
    <add key="LogToConsole" value="false"/>
    <add key="LogToFile" value="true"/>
    <add key="MaskCredentials" value="true"/>

    <!-- Set the service timeout in milliseconds. -->
    <!-- <add key="Timeout" value="100000"/> -->

    <!-- Fill the following values if you plan to use a proxy server.-->
    <add key="ProxyServer" value=""/>
    <add key="ProxyUser" value=""/>
    <add key="ProxyPassword" value=""/>
    <add key="ProxyDomain" value=""/>

    <!-- Use this key to enable or disable gzip compression in SOAP requests.-->
    <add key="EnableGzipCompression" value="true"/>

    <!-- Fill the header values. -->
    <add key="UserName" value="ENTER_YOUR_USERNAME_HERE"/>
    <add key="Password" value="ENTER_YOUR_PASSWORD_HERE"/>
    <add key="ApplicationName" value="ENTER_YOUR_APPLICATION_NAME_HERE"/>

    <!-- Uncomment this key if you want to reuse an authToken returned by
         LoginRemoteService multiple times. -->
    <!-- <add key="AuthToken" value="ENTER_YOUR_AUTH_TOKEN_HERE"/> -->

    <!-- Uncomment this key if you want to use DFA test environment. -->
    <!-- <add key="DfaApi.Server" value="https://advertisersapitest.doubleclick.net"/> -->

    <!-- Uncomment this key if you want to use DFA beta environment. -->
    <!-- <add key="DfaApi.Server" value="http://betaadvertisersapi.doubleclick.net"/> -->
  </DfaApi>
  <system.web>
    <webServices>
      <soapExtensionTypes>
        <add type="Google.Api.Ads.Common.Lib.SoapListenerExtension, Google.Ads.Common"
            priority="1" group="0"/>
      </soapExtensionTypes>
    </webServices>
  </system.web>
  <system.net>
    <settings>
      <httpWebRequest maximumErrorResponseLength="-1"  />
    </settings>
  </system.net>
</configuration>
