<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="AdWordsApi"
             type="com.google.api.adwords.lib.ApplicationConfiguration,google-api-adwords-dotnet"/>
  </configSections>
  <AdWordsApi>
    <!-- Change the appropriate flags to turn on SOAP logging. -->
    <add key="LogPath" value="C:\Logs\"/>
    <add key="LogToConsole" value="false"/>
    <add key="LogToFile" value="false"/>
    <add key="MaskCredentials" value="true"/>

    <!-- Fill the following values if you plan to use a proxy server.-->
    <add key="ProxyServer" value=""/>
    <add key="ProxyUser" value=""/>
    <add key="ProxyPassword" value=""/>
    <add key="ProxyDomain" value=""/>

    <!-- Uncomment this key if you want to disable gzip compression in SOAP requests.-->
    <!--<add key="EnableGzipCompression" value="false"/>-->

    <!-- Fill the header values. -->
    <add key="CompanyName" value="ENTER_YOUR_COMPANY_NAME_HERE"/>
    <add key="Email" value="ENTER_YOUR_EMAIL_HERE"/>
    <add key="Password" value="ENTER_YOUR_PASSWORD_HERE"/>
    <add key="ClientEmail" value="ENTER_YOUR_CLIENT_EMAIL_HERE"/>
    <add key="DeveloperToken" value="ENTER_YOUR_DEVELOPER_TOKEN_HERE"/>
    <!-- Application token is now optional and will be ignored by the server.-->
    <!-- <add key="ApplicationToken" value="ENTER_YOUR_APPLICATION_TOKEN_HERE"/> -->

    <!-- Uncomment this key and comment ClientEmail if you want to specify
         customer id instead of customer email. -->
    <!-- <add key="ClientCustomerId"
        value="ENTER_YOUR_CLIENT_CUSTOMER_ID_HERE"/> -->

    <!-- Uncomment this if you want to reuse an authToken multiple times. -->
    <!--<add key="AuthToken" value="ENTER_YOUR_AUTH_TOKEN_HERE"/> -->

    <!-- Uncomment this key if you want to use v13 sandbox. -->
    <!-- <add key="LegacyAdWordsApi.Url" value="https://sandbox.google.com"/> -->

    <!-- Uncomment this key if you want to use AdWords API sandbox. -->
    <!-- <add key="AdWordsApi.Url" value="https://adwords-sandbox.google.com"/> -->

  </AdWordsApi>
  <system.web>
    <webServices>
      <soapExtensionTypes>
        <add type="com.google.api.adwords.lib.TraceExtension,
                   google-api-adwords-dotnet" priority="1" group="0"/>
        <add type="com.google.api.adwords.lib.ApiUnitsExtension,
                   google-api-adwords-dotnet" priority="1" group="0"/>
      </soapExtensionTypes>
    </webServices>
  </system.web>
  <system.net>
    <settings>
      <httpWebRequest maximumErrorResponseLength="-1"  />
    </settings>
  </system.net>
</configuration>
